<h1>Add your questions to <%= @survey.title %></h1>
<br>
<form  action="/survey/<%= @survey.id %>" method="post">
<div class="form-group">
  <label for="question_title">Title</label>
  <input class="form-control" type="text" name="question_title" placeholder="Question title">
</div>
<div class="form-group">
  <label for="question_desc">Question description</label>
  <input class="form-control" type="text" name="question_desc" placeholder="Question desc">
</div>
<div class="form-group">
  <label for="question_type">Question type</question label>
   <select class="form-control" name="question_type">
      <option value="text">Text based question</option>
      <option value="number">Numbered answer</option>
      <option value="multiple_choice"> Multiple choice questions with one answer</option>
      <option value="select_all"> Select 1 or all answer options</option>
   </select>
 </div>
 <button  class="btn" type="submit" name="question_form_submit">Next</button>
</form>
