<h1><%= @survey.title %></h1>
<h4>Created on: <%= @survey.created_at.strftime("%B %e, %Y") %></h4>
<h4>Last Updated: <%= @survey.updated_at.localtime("-08:00").strftime("%I:%M %p") %></h4>
<form action="/survey/<%=@survey.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="survey_title">Update the title</label>
    <input type="text" name="survey_title" class="form-control">
  </div>

  <div class="questions">
    <% if @survey.questions %>

    <% end %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
